*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
:root {
  --primary-color: #9b8671;
  --secondary-color: #2c6e7e;
  --tertiary-color: #fffcd9;
  --dark-color: #039971;
  --light-color: #fffce9;
  --off-white: #faf9f6;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
  background: var(--tertiary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* BACK TO TOP BUTTON */
#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--primary-color);
  color: var(--black-color);
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 1000;
}

/* Show the button when the user scrolls down */
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

#back-to-top:hover {
  background-color: var(--tertiary-color);
  opacity: 1;
  visibility: visible;
}

/* UTILITY CLASSES */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Basic button styling */
/* Base styles for the button */
.btn-blank {
  font-size: 1rem;
  display: inline-block;
  padding: 5px 15px;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  position: relative; /* Position for the pseudo-element */
  overflow: hidden; /* Hide the overflow of the pseudo-element */
  transition: color 0.3s ease;
}

/* Hover color change for text */
.btn-blank:hover {
  color: white;
  border-color: black;
  transform: scale(1.05);
  cursor: pointer;
}

/* Pseudo-element for the background color fill */
.btn-blank::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: top 0.3s ease;
  z-index: -1;
}

/* Animation on hover */
.btn-blank:hover::before {
  top: 0;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 0.2rem;
}

/* Tooltip text */
.tooltip .tooltip-text {
  font-size: 0.8rem;
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: -40px; /* Adjust to position tooltip above or below the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
  z-index: 9999; /* Test with a high z-index */
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltip-text {
  color: white;
  background: black;
  visibility: visible;
  opacity: 1;
}

/* Outline styling specifically for the tooltip element */
.tooltip:hover {
  outline: 2px solid black;
  border-radius: 4px;
}

/* Section Header */
.section-header {
  max-width: 750px;
  padding-top: 1rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  margin-bottom: 0.5rem;
}

.heading-border {
  width: 64px;
  height: 4px;
  background: var(--primary-color);
  margin: 0 auto 2rem;
}

/* NAVBAR */
.navbar {
  /* background-color: var(--tertiary-color); */
  opacity: 0.8;
  padding: 0.5rem 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.4s ease-in-out;
}

.navbar.navbar-scroll {
  background-color: var(--primary-color);
  backdrop-filter: blur(10px);
  opacity: 0.8;
}

.navbar-flex {
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar .main-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-weight: 600;
}

.navbar a {
  position: relative;
  color: black;
  display: inline-block;
  vertical-align: middle;
  padding: 0.2rem;
  text-decoration: none;
  overflow: hidden; /* Ensures ::before element stays within the link area */
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px; /* Small offset to hide any faint line */
  width: 101%; /* Slightly larger to ensure full coverage */
  height: 100%;
  background: black;
  border-radius: 4px;
  transform: translateX(-100%); /* Starts from the left */
  transition: transform 0.3s ease; /* Smooth animation */
  z-index: -1; /* Places it behind the text */
}

.navbar a:hover::before {
  transform: translateX(0); /* Moves ::before element to cover the link */
}

.navbar a:hover {
  color: white;
  outline: 2px solid white;
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: black;
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* width: 100%; */
  background: rgba(0, 0, 0, 1);
  opacity: 0.95;
  z-index: 999;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  max-height: calc(100vh - 100%); /* Account for the height of the top menu */
  overflow-y: auto;
}

/* Mobile Menu Items Font Color */
.navbar .mobile-menu-items a {
  color: white;
}

/* Optional: Hover effect for menu items */
.navbar .mobile-menu-items a:hover {
  color: var(--primary-color);
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

/* Hamburger Menu */
.mobile-menu-toggle {
  font-size: 1rem;
  color: var(--secondary-color);
}

/* Hero and Parallax Layers */
.hero {
  background: url('../images/png-layers/layer8.png');
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 0;
}

/* Carousel Content Positioning */
.carousel-content {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
}

/* Carousel Styling */
.carousel-item {
  display: none;
  opacity: 0;
  position: relative;
  transition: opacity 0.5s ease; /* Smooth fade transition */
}

.carousel-item.active {
  display: block;
  opacity: 1;
  animation: slideInFromRight 0.5s forwards;
}

.carousel-item.slide-out {
  animation: slideOutToLeft 0.5s forwards;
  opacity: 0;
}

/* Carousel Navigation Container */
.carousel-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  z-index: 15;
}

/* Carousel Button Style */
.carousel-btn {
  width: 12px;
  height: 12px;
  background-color: #f4f4f4;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-btn.active {
  background-color: black;
}

/* Keyframes */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Parallax Layers */
.parallax-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0; /* Aligns each layer to the left edge */
  object-fit: cover;
  transform: translateY(0); /* Keeps initial position for parallax scrolling */
}

/* Layer Parallax Effect */
.layer1 {
  transform: translateY(0px);
}
.layer2 {
  transform: translateY(-0.2px);
}
.layer3 {
  transform: translateY(-0.4px);
}
.layer4 {
  transform: translateY(-0.6px);
}
.layer5 {
  transform: translateY(-0.8px);
}
.layer6 {
  transform: translateY(-1px);
}
.layer7 {
  transform: translateY(-1.2px);
}
.layer8 {
  transform: translateY(0px); /* Sky layer stays stationary */
}

/* ABOUT SECTION */
.about-section {
  /* background: var(--primary-color); */
  padding: 4rem 2rem;
}

.about .section-header {
  text-align: center;
  margin-bottom: 2rem;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: bold;
}

.section-header p {
  font-size: 1rem;
  color: black;
  max-width: 600px;
  margin: 0 auto;
}

/* About content layout */

.about-content {
  /* background: black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.about-text {
  flex: 1;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.about-image {
  flex: 1;
  text-align: right;
}

.about-image img {
  width: 100%;
  max-width: 250px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

/* GALLERY */

/* CONTACT FORM */
.contact {
  background: #f4f4f4;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact h2 {
  color: black;
}

.contact-form {
  max-width: 600px;
  padding: 1rem;
  background: url('../images/bg3.jpg') right center; /* Shift the focus to the right side */
  background-size: cover; /* Ensure the image covers the container */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  border-radius: 8px;
}

.contact-form p {
  margin-bottom: 3rem;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  display: block;
  font-family: inherit;
  font-size: medium;
  width: 100%;
  margin: 1.5rem 0;
  border: 1px solid #ccc;
  padding: 1.2rem 1rem;
}

.contact-form textarea {
  height: 100px;
}

.contact-form .btn-blank {
  background: var(--primary-color);
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

.contact .btn-blank:hover {
  background: var(--tertiary-color);
  color: white;
  border-color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.1);
}

/* LOCATION */
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
}

.location::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Ensure content appears above the overlay */
.location > * {
  position: relative;
  z-index: 2;
}

.location .map {
  max-width: 100%;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.location .map iframe {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* SOCIAL */
.social {
  background: var(--primary-color);
  color: #fff;
  padding: 6rem 2rem;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0;
}

.social a {
  padding: 1rem;
  color: var(--secondary-color);
}

.social a:hover {
  color: var(--tertiary-color);
}

.social p {
  margin-bottom: 2rem;
}

.social .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* FOOTER */
.footer {
  background: var(--primary-color);
  color: #fff;
  border-top: 1px solid #384653;
  padding: 0.5rem 2rem;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem; /* Add margin to separate it from the copyright text */
}

.footer-links li {
  margin: 0 1rem; /* Space between the links */
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

.footer-links li a:hover {
  color: var(--tertiary-color);
}

.footer p {
  width: 100%; /* Ensures it spans the full width below the links */
  margin: 0.5rem 0;
  text-align: center;
}
